main {
  padding-top: 2rem;
}

.main-form {
  background-color: white;
}

.title {
  text-align: center;
  color: coral;
  font-size: 1.8rem;
}

.main-form {
  padding: 2rem;
}

.group-labels {
  display: grid;
  grid-gap: 2rem;
}

a {
  text-decoration: underline;
  color: blue;
}

label {
  display: block;
}

input:not([type="checkbox"]),
select {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font: inherit;
}

.button {
  background-color: #a0bef5;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #80a6ee;
  color: #eee;
}

@media (min-width: 40em) {
  .main-form {
    width: 60%;
    margin: 2rem auto;
    padding: 4rem;
    box-shadow: 5px 5px 5px 4px #999;
  }

  .group-labels {
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 4rem);
    align-content: center;
  }

  .title__select {
    grid-column: 1 / 3;
  }

  #title {
    width: 100%;
  }

  .button {
    grid-row: 5 / 6;
  }
}
